<!DOCTYPE HTML>
<html>
<body>
<app-hero-detail></app-hero-detail>
<p *ngIf="hero.id == 1">
  <h2> Squat </h2>
  <div><span>This page will teach you the proper form for squats! </span></div>
  <button (click)="goBack()">go back</button>
</p>
<p *ngIf="hero.id == 2">
  <h2> Bench </h2>
  <div><span>This page will teach you the proper form for bench! </span></div>
  <button (click)="goBack()">go back</button>
</p>
<p *ngIf="hero.id == 3">
  <h2> Deadlift </h2>
  <div><span>This page will teach you the proper form for deadlift! </span></div>
  <h2>
  <button (click)="goBack()">go back</button>
</p>
</body>
</html>
