<!DOCTYPE HTML>
<html>
<div *ngIf="hero.id === 1">
  <h2> Squat </h2>
  <div><span>This page will teach you the proper form for squats! </span></div>
  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Dy28eq2PjcM"
    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <button (click)="goBack()">go back</button>
</div>
<div *ngIf="hero.id === 2">
  <h2> Bench </h2>
  <div><span>This page will teach you the proper form for bench! </span></div>
  <div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/hZPYTIPb2To"
  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <button (click)="goBack()">go back</button>
</div>
<div *ngIf="hero.id === 3">
  <h2> Deadlift </h2>
  <div><span>This page will teach you the proper form for deadlift! </span></div>
  <div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xxFpHWEi6UE"
  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <button (click)="goBack()">go back</button>
</div>
</html>
